<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>this is test</title>


    <link rel="stylesheet" href="public/stylesheets/style.css"  id="main_stylesheet">

</head>
<body >

<h1>hello <%= title %></h1>




</body>
</html>
